// Déclaration des variables
$primary-color: #ff0000;
$secondary-color: #00ff00;
$text-color: #000000;

// Utilisation des variables pour définir les styles
body {
  background-color: $primary-color;
  color: $text-color;
}

.secondary-element {
  background-color: $secondary-color;
  color: $text-color;
}
